In [29]:
#Load Libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv('./video_game_sales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [18]:
def best_seller(df,agg_col):
   best_seller_df=df.groupby('Genre')[agg_col].mean().reset_index()
   best_seller_df=best_seller_df.sort_values(agg_col,ascending=False)
   return best_seller_df

In [19]:
best_selling_na=best_seller(data,"NA_Sales")
best_selling_eu=best_seller(data,"EU_Sales")
best_selling_jp=best_seller(data,"JP_Sales")

In [21]:
print("The best selling genre in NA is {}".format(best_selling_na.iloc[0,0]))

The best selling genre in NA is Sports

In [22]:
print("The best selling genre in EU is {}".format(best_selling_eu.iloc[0,0]))
print("The best selling genre in JP is {}".format(best_selling_jp.iloc[0,0]))

The best selling genre in EU is Sports
The best selling genre in JP is Role-Playing

In [27]:
def best_seller(df,agg_col):
   best_seller_df=df.groupby('Platform')[agg_col].sum().reset_index()
   best_seller_df=best_seller_df.sort_values(agg_col,ascending=False)
   return best_seller_df

In [28]:
best_selling_na=best_seller(data,"NA_Sales")
best_selling_eu=best_seller(data,"EU_Sales")
best_selling_jp=best_seller(data,"JP_Sales")
print("The best selling platform in NA is {}".format(best_selling_na.iloc[0,0]))
print("The best selling platform in EU is {}".format(best_selling_eu.iloc[0,0]))
print("The best selling platform in JP is {}".format(best_selling_jp.iloc[0,0]))

The best selling platform in NA is Wii
The best selling platform in EU is Wii
The best selling platform in JP is DS

In [30]:
call_of_duty=data['Name'].str.contains("Cal of Duty")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Name: Name, Length: 100, dtype: bool